<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Handle Bars</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/demo.css">
	<link rel="stylesheet" href="/stylesheets/header-basic-light.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

<header class="header-basic-light">

	<div class="header-limiter">

		<h1><img id="logo-img" src="/images/logo.png"></h1>

		<nav>
			<a href="/users">Home</a>
			<a href="#" class="selected" >Add User</a>
		</nav>
	</div>

</header>



<div class="menu">
	<div class="container">
		<form class="form-horizontal" id="add-form">
			<fieldset>

				<!-- Form Name -->
				<legend>Add</legend>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="Name">Name</label>  
				  <div class="col-md-4">
				  <input id="name" name="Name" placeholder="Name" class="form-control input-md" required="" type="text">
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="phone">Phone</label>  
				  <div class="col-md-4">
				  <input id="phone" name="phone" placeholder="Phone" class="form-control input-md" required=""  type="text">
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="Employee Code">Employee Code</label>  
				  <div class="col-md-4">
				  <input id="empcode" name="Employee Code" placeholder="Employee Code" class="form-control input-md" required="" type="text">
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="Email">Email</label>  
				  <div class="col-md-4">
				  <input id="email" name="Email" placeholder="Email" class="form-control input-md" required="" type="email">
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="Job Title">Job Title</label>  
				  <div class="col-md-4">
				  <input id="jobtitle" name="Job Title" placeholder="Job Title" class="form-control input-md" required="" type="text">
				    
				  </div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="edit"></label>
				  <div class="col-md-4">
				    <button id="edit" name="edit" class="btn btn-primary">Save</button>
				  </div>
				</div>

			</fieldset>
		</form>

	</div>
</div>





</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</html>